Repository GetTerminus/ngx-tools, pull requests merged in 2020-02, with the labels that each got.

#410 chore(TypeGuard): exports all the utilities for consumers.
  ngx-tools/type-guards/src/public-api.ts
Labels: PR%3A%20approved, PR: awaiting review, Size: XS

#414 feat(TypeGuard): Add isValidDate type guard
  ngx-tools/type-guards/README.md
  ngx-tools/type-guards/src/is-valid-date/is-valid-date.spec.ts
  ngx-tools/type-guards/src/is-valid-date/is-valid-date.ts
  ngx-tools/type-guards/src/public-api.ts
Labels: PR: awaiting review, Size: M

#417 chore(CI): update how renovate handles our dependencies
  renovate.json
Labels: PR: awaiting review, Size: S
